@(blogId:Integer, userId: Integer, comments: List[Comment])

<html>
    <head>
        <title>Comments</title>
    </head>
    <body>
        <label><b>Total Comment Found: @comments.size()</b></label><br>
        <ol>
        @for(comment <- comments){
            <li>
            @comment.getComment()<br>
            <b>@comment.getTimestamp()</b>
            </li>
        }
        </ol>
        <br>
        <p>Go To blog <a href="@routes.BlogController.showBlog(comments.get(0).getBlog().getTitle(), userId)">
            @comments.get(0).getBlog().getTitle() </a>Page</p>
    </body>
</html>