@(userForm: Form[User])
@import helper._
<html>
    <head>
        <title>Create Users</title>
    </head>
    <body>
        <p>Edit Users</p>

        <form action="@routes.UserController.updateUser()" method="post" >
            <div>
                <label><b>ID:</b></label>
                <input type="text" value="@userForm.get().id" readonly name="id" id="id" required>
                <label><b>Username:</b></label>
                <input type="text" value="@userForm.get().name" name="name" id="name" required>

                <label><b>Surname:</b></label>
                <input type="text" value="@userForm.get().surname" name="surname" id="surname" required>
                <br><br>
                <button type="submit">Edit</button>
            </div>
        </form>
    </body>
</html>