@(users: List[User])
<html>
    <head>
        <title>All Users</title>
    </head>
    <body>
        <hi>All Users</hi>
        <br><br>
        @for(user <- users){
            <a href="@routes.UserController.showUser(user.getId())">ID: @user.getId()</a>
            <p>Name: @user.getName</p>
            <p>Surname: @user.getSurname</p>
            <a href="@routes.UserController.editUser(user.getId())">Edit User</a>

            <a href="@routes.UserController.deleteUser(user.getId())">Delete User</a>
            <br>
        }
        <br><br>
        <a href="@routes.UserController.createUser()">Click here to create User</a>
    </body>
</html>