@(blogs: List[Blog], userId: Integer)
<html>
    <head>
        <title>All Blogs</title>
    </head>
    <style>
        img {
          border: 1px solid #ddd; /* Gray border */
          border-radius: 4px;  /* Rounded border */
          padding: 5px; /* Some padding */
          width: 150px; /* Set a small width */
        }

        /* Add a hover effect (blue shadow) */
        img:hover {
          box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>
    <body>
    <label><b>Total Blogs Found: @blogs.size()</b></label>
        <br><br>
        <ol>
        @for(blog <- blogs){
            <li></li>
            <img src="@routes.Assets.versioned("images/img.png")">
            <br>
            <label>
                <b>
                    <a href="@routes.BlogController.showBlog(blog.getTitle(), userId)">@blog.getTitle()</a>
                    <br>
                    @blog.getTimestamp()
                </b>
            </label>
            <br><br>
        }
        </ol>
        <a href="@routes.BlogController.createBlog(userId)">Create Blog</a>
    </body>
</html>