@(blog: Blog)

<html>
    <head>
        <title>@blog.getTitle()</title>
    </head>
    <body>
        <p><b>@blog.getTimestamp()</b></p>
        <br><br>
        <p> @blog.getContent()</p>
        <br><br>
        <a href="@routes.BlogController.deleteBlog(blog.getTitle())">Delete Blog</a>
        <a href="@routes.CommentController.showComment(blog.getTitle())">View Comment</a>
        <a href="@routes.CommentController.addComment(blog.getTitle())">Add Comment</a>
        <br>
    </body>
</html>